/* making responsive for mobiles */
@media screen and (max-width: 800px) {
    .navbar-nav.navbar-center{
        position: relative;
        left: 50%;
        transform: translatex(-50%);
        font-size: 20px;
    }
    
}
/* making responsive for tablets  */
@media screen and (max-width: 1024px) {
    .navbar-nav.navbar-center{
        position: relative;
        left: 54%;
        transform: translatex(-50%);
        font-size: 20px;
    }
   
}